.slider-control {
  position: relative !important;
  width: 250px; }
  .slider-control > .slider-control__rail,
  .slider-control > .slider-control__ball {
    position: absolute !important;
    cursor: pointer !important; }
  .slider-control > .slider-control__rail {
    height: 4px;
    width: 100%;
    background: #dddddd;
    border: 1px solid #dddddd;
    border-radius: 2px; }
  .slider-control > .slider-control__ball {
    height: 30px;
    width: 30px;
    background: #dddddd;
    border: 5px solid #ffffff;
    border-radius: 15px;
    top: -13px; }
